.spinner {
     width: 1.50rem;
     height: 1.50rem;
     border: 11.2px #1fb6ff;
     border-left-style: solid;
     border-radius: 50%;
     animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
     to {
          transform: rotate(1turn);
     }
}